.navbar-brand>img {
    width: 50px;

}

.container-fluid {
    background-color: #4E35F2;
}


.navbar-brand .section {
    display: flexbox;

}


.cabinet {
    width: 50px;
}
.py-09{
    font-weight: 700px;
    height: 500px;
}
.container-fluid-section {
    background-color: #F2F2F2;
}
.mapa-yandex{
    background-size: contain;
}

.cabinet {
    width: 50px; /* Размер иконки */
    cursor: pointer; /* Делаем её кликабельной */
}

.dropdown-menu {
    min-width: 150px; /* Фикс ширины */
    text-align: center;
}

.dropdown-menu a {
    padding: 10px;
}

.heart {
    border: 0px;
    background-color: #ffffff;
}

.card {
    margin: 15px;
    background-color: #1D8FF2;

}

.button-comm>a {
    text-decoration: none;
    color: black;
}

.input-card {
    border: 0px;
}

.yandex-map {
    text-align: center;
}

.yandex-map-holder {
    border: 5px;
}

.btn {
    border: 0px;
}

.search-hold {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: double;
}

.comments {
    display: inline;
    border: 3px;
}

.head {
    border: 2em;
}
.navbar {
    padding: 0 !important;
    margin: 0 !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-width: 150px;
    overflow: hidden;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}
.menu-btn img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}