/* styleMainPage.css */
body {
    font-family: Arial, sans-serif;
    background-color: #30478C;
}

.navbar .navbar-brand img {
    height: 40px;
}

.navbar-brand {
    margin-left: 10px;
}


.container-fluid {
    background-color: #30478C;
}

.container-fluid-flu {
    background-color: #8896BF;

}

.navbar .nav-link {
    color: #007bff;
}

.navbar .nav-link:hover {
    color: #0056b3;
}

.card {
    border-radius: 8px;
    overflow: hidden;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.footer {
    font-size: 0.9rem;
    color: #6c757d;
}

input[type="text"] {
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.mapa-yandex {
    border: 0;
}

.my-4 {
    margin: 0px !important;
}

.container-fluid,
.container-fluid-flu {
    padding: 0px;
    padding-top: 10px;
}

.container-fluid {
    padding-bottom: 10px;
}

section {
    padding-bottom: 15px;
}

.navbar {
    padding: 0px !important;
}

.menu-imgg {
    width: 50px;
}


.bg-white {
    padding: 0px !important;
    margin: 0px !important;
}

.container {
    margin: 0px !important;
    padding: 0px !important;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #30478C;
    border: none !important;
    box-shadow: none !important;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

section {
    padding-bottom: 15px;
    margin: 0;
    background-color: #30478C;
}

.bg-white {
    padding: 0px !important;
    margin: 0px !important;
    background-color: #30478C;
}

.container {
    width: 100%;
    margin: 0px;
    background-color: #30478C;
}